*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  min-width: 1440px;
  width: 100%;
  margin: auto;
  color: #000;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #fff;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

